body {
    font-family: 'Courier New', Courier, monospace;
}
/*Block__Element--Modifier */
.header {
    width: 100%;
    display: flex;
    padding: 15px 40px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 140px;
}

.header__menu {
    display: flex;
    gap: 50px;
}

.header__nav {
    display: flex;
    gap: 20px;
}

.header__link { /*Block__Element */
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.header__user {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.header__icon {
    cursor: pointer;
}

.header__icon--secondary {
    opacity: 0.5;
    color: rgb(0, 102, 255);
}

.header__icon--secondary:hover {
    opacity: 1;
    color: #000;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 30px auto 0;
    gap: 10px;
}

.products__item {

}

.products__img {
    width: 100%;
}