header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1{
    font-size: 2em;
    color: #e1e1e1;
}

main{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 50em){
    /* We use em's to make the media query more responsive */
    /* As em's are relative to the font-size of the element */
    /* They are more responsive than pixels */
    /* 50em is equivalent to 800px,  */ 
    /* 1em is equivalent to 16px */
    main{
        grid-template-columns: 1fr;
    }
}

main section{
    padding: 20px;
    background-color: #66815d;
}

main aside{
    padding: 20px;
    background-color: #b7d7e8;
}

footer{
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
}