/* Variables */
$mainColor: #106e10;
$fontFamily: "Sour Gummy", Arial, Helvetica, sans-serif;
$colorWhite: #fff;

@mixin flexbox {
    display: flex;
    justify-content: space-between;
}

@mixin shadowContainer($blur, $shadowColor, $bgColor) {
    box-shadow: 0 0 $blur $shadowColor;
    padding: 10px;
    border-radius: 10px;
    background-color: $bgColor;
}

%link {
    text-decoration: none;
    color: $colorWhite;
}

body {
    font-family: $fontFamily;
    font-weight: 600;
}

main {
    article {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        @include shadowContainer(10px, yellow, blue);
        
        &:first-child {
            @include shadowContainer(10px, $mainColor, red);
        }

        &.container3 {
            @include shadowContainer(10px, #803300, #00aeff);
        }
    }
}

footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $mainColor;
    @include flexbox();

    article {
        img{ 
            width: 80px;
        }

        nav{
            @include flexbox();
            flex-direction: column;
            gap: 10px;

            a {
                @extend %link;
            }
        }
        > a {
            @extend %link;
        }
    }
}