/* Variables */
$mainColor: #106e10;
$fontFamily: "Sour Gummy", Arial, Helvetica, sans-serif;
$white: #fff;

@function divideUnits($value, $quantity) {
    $result: $value / $quantity;
    @return $result;
}

@mixin flexbox {
    display: flex;
    justify-content: space-between;
}

@mixin shadowContainer($blur, $padding, $color) {
    box-shadow: 0 0 $blur $color;
    padding: $padding;
    border-radius: 15px;
    background-color: $color;
}

%link {
    text-decoration: none;
    color: $white;
}

%button {
    display: block;
    border: none;
    border-radius: 20px;
    color: $white;
    text-align: center;
    padding: 15px 0;
    width: divideUnits(200%, 2);
    font-weight: 600;
}

body {
    font-family: $fontFamily;
    font-weight: 600;
    margin: 0;
}

header {
    @include flexbox();
    background-color: $mainColor;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;

    img {
        width: 120px;
    }

    nav {
        @include flexbox();
        gap: 10px;

        a {
            font-weight: 500;
            font-size: 1rem;
            @extend %link;
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    article {
        @include flexbox();
        gap: 20px;

        div {
            color: $white;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

main {
    article {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        @include shadowContainer(10px, 10px, $mainColor);

        &.mixin {
            @include shadowContainer(10px, 10px, rgb(28, 89, 219));
        }

        .main-button {
            @extend %button;
            background-color: chartreuse;
        }

        .secondary-button {
            @extend %button;
            background-color: dimgray;
        }

        &.container3 {
            @include shadowContainer(10px, 10px, rgb(216, 219, 28));
        }
    }
}

footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $mainColor;
    @include flexbox();

    article {
        img{ 
            width: 80px;
        }

        nav{
            @include flexbox();
            flex-direction: column;
            gap: 10px;

            a {
                @extend %link;
            }
        }
        > a {
            @extend %link;
        }
    }
}