/* Colors */
$background-color: #000;
$background-base: #121212;
$background-highlight: #1f1f1f;
$text: #fff;
$sub-text: #b3b3b3;

/* Font */
$font-family: "Inter", Arial, Helvetica, sans-serif;
$text-size: 0.8rem;

/* Animations */
$transition: all 0.3s ease;

/* Sizes */
$svg: 15px;

@mixin asideFlex($direction: column) {
    display: flex;
    flex-direction: $direction;
    background-color: $background-base;
    border-radius: 15px;
    margin: 3px;
}

@mixin cleanInput {
    background: none;
    border: none;
    outline: none;
    color: $text;
}