body {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    background-color: $background-color;
    color: $text;
    font-family: $font-family;
    @include extendOnBreakpoint(930px);
    @include fullGrid(480px);
    transition: width 0.3s ease;
}