@import "./base";
@import "./components";

.left-side {
    @include hideOnBreakpoint(480px);
    display: flex;
    flex-direction: column;

    .leftSide__home {
        @include asideFlex();

        .home__icon {
            display: flex;
            gap: 5px;
            align-items: center;
            padding-left: 10px;
            font-size: $text-size;
            color: $sub-text;
            transition: $transition;

            p {
                display: inline;
                cursor: pointer;
            }

            svg {
                width: $svg;
                cursor: pointer;
            }

            &:hover {
                color: $text;
            }
        }

        .home__searchIcon {
            @extend .home__icon;
        }
    }

    .leftSide__library {
        @include asideFlex();
        flex-grow: 1;

        .library__selectors {
            display: flex;
            font-size: $text-size;
            color: $sub-text;
            align-items: center;
            padding-left: 10px;
            justify-content: space-between;

            .selectors__left {
                display: flex;
                align-items: center;

                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    transition: $transition;

                    &:hover {
                        color: $text;
                    }
                }
            }

            .selectors__right {
                display: flex;
                gap: 5px;
                padding-right: 5px;
            }

            i, p {
                display: inline;
                cursor: pointer;
            }

            svg {
                width: $svg;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    color: $text;
                }
            }
        }

        .library__nav {
            display: flex;
            flex-direction: column;

            .nav__closeIcon {
                display: flex;
                align-items: center;
                padding-left: 5px;
                color: $sub-text;

                svg {
                    @include x-button();
                }

                p {
                    background-color: $text;
                    padding: 5px;
                    border-radius: 20px;
                    color: $background-color;
                    cursor: pointer;
                    font-size: $text-size;
                    transition: $transition;

                    &:hover {
                        scale: 1.03;
                    }
                }
            }

            .nav__search {
                display: flex;
                padding-left: 10px;

                .home__searchIcon {
                    color: $sub-text;
                    padding: 0 5px 0 0;

                    svg {
                        width: $svg;
                    }
                }

                input {
                    @include cleanInput();
                }
            }
        }

        .library__contents {
            padding: 30px 15px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .library__item {
                display: flex;
                color: $text;
                font-size: $text-size;
                align-items: center;
                gap: 10px;
                transition: $transition;
                border-radius: 90px;
                cursor: pointer;

                img {
                    width: 50px;
                    border-radius: 50px;
                }

                &:hover {
                    background-color: $transparent;
                    border-radius: 15px;
                }
            }
        }
    }
}