@import "./leftSide";

.main {
    display: flex;
    flex-direction: column;

    .main__nav {
        display: flex;
        justify-content: space-between;

        .nav__left {
            display: flex;
            gap: 5px;
            align-items: center;
            padding-top: 5px;

            svg {
                background-color: $transparent;
                padding: 2px;
                border-radius: 50%;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background-color: $background-highlight;
                }
            }
        }

        .nav__right {
            @extend .nav__left;

            svg {
                width: 19px;
                height: 19px;
                padding: 5px;
            }

            img {
                @extend svg;
            }
        }
    }

    .main__banner {
        display: flex;
        flex-direction: column;
    }
}