/* Colors */
/* Font */
/* Animations */
/* Sizes */
body {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.left-side {
  display: flex;
  flex-direction: column;
}
.left-side .leftSide__home {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 15px;
  margin: 3px;
}
.left-side .leftSide__home .home__icon, .left-side .leftSide__home .home__searchIcon {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 10px;
  font-size: 0.8rem;
  color: #b3b3b3;
  transition: all 0.3s ease;
}
.left-side .leftSide__home .home__icon p, .left-side .leftSide__home .home__searchIcon p {
  display: inline;
  cursor: pointer;
}
.left-side .leftSide__home .home__icon svg, .left-side .leftSide__home .home__icon .main .main__nav .nav__right img, .main .main__nav .nav__right .left-side .leftSide__home .home__icon img, .left-side .leftSide__home .home__searchIcon svg, .left-side .leftSide__home .home__searchIcon .main .main__nav .nav__right img, .main .main__nav .nav__right .left-side .leftSide__home .home__searchIcon img {
  width: 15px;
  cursor: pointer;
}
.left-side .leftSide__home .home__icon:hover, .left-side .leftSide__home .home__searchIcon:hover {
  color: #fff;
}
.left-side .leftSide__library {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 15px;
  margin: 3px;
}
.left-side .leftSide__library .library__selectors {
  display: flex;
  font-size: 0.8rem;
  color: #b3b3b3;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
}
.left-side .leftSide__library .library__selectors .selectors__left {
  display: flex;
  align-items: center;
}
.left-side .leftSide__library .library__selectors .selectors__left div {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}
.left-side .leftSide__library .library__selectors .selectors__left div:hover {
  color: #fff;
}
.left-side .leftSide__library .library__selectors .selectors__right {
  display: flex;
  gap: 5px;
  padding-right: 5px;
}
.left-side .leftSide__library .library__selectors i, .left-side .leftSide__library .library__selectors p {
  display: inline;
  cursor: pointer;
}
.left-side .leftSide__library .library__selectors svg, .left-side .leftSide__library .library__selectors .main .main__nav .nav__right img, .main .main__nav .nav__right .left-side .leftSide__library .library__selectors img {
  width: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.left-side .leftSide__library .library__selectors svg:hover, .left-side .leftSide__library .library__selectors .main .main__nav .nav__right img:hover, .main .main__nav .nav__right .left-side .leftSide__library .library__selectors img:hover {
  color: #fff;
}
.left-side .leftSide__library .library__nav {
  display: flex;
  flex-direction: column;
}
.left-side .leftSide__library .library__nav .nav__closeIcon {
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #b3b3b3;
}
.left-side .leftSide__library .library__nav .nav__closeIcon svg, .left-side .leftSide__library .library__nav .nav__closeIcon .main .main__nav .nav__right img, .main .main__nav .nav__right .left-side .leftSide__library .library__nav .nav__closeIcon img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.left-side .leftSide__library .library__nav .nav__closeIcon svg:hover, .left-side .leftSide__library .library__nav .nav__closeIcon .main .main__nav .nav__right img:hover, .main .main__nav .nav__right .left-side .leftSide__library .library__nav .nav__closeIcon img:hover {
  background-color: #1f1f1f;
}
.left-side .leftSide__library .library__nav .nav__closeIcon p {
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}
.left-side .leftSide__library .library__nav .nav__closeIcon p:hover {
  scale: 1.03;
}
.left-side .leftSide__library .library__nav .nav__search {
  display: flex;
  padding-left: 10px;
}
.left-side .leftSide__library .library__nav .nav__search .home__searchIcon {
  color: #b3b3b3;
  padding: 0 5px 0 0;
}
.left-side .leftSide__library .library__nav .nav__search .home__searchIcon svg, .left-side .leftSide__library .library__nav .nav__search .home__searchIcon .main .main__nav .nav__right img, .main .main__nav .nav__right .left-side .leftSide__library .library__nav .nav__search .home__searchIcon img {
  width: 15px;
}
.left-side .leftSide__library .library__nav .nav__search input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
}
.left-side .leftSide__library .library__contents {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.left-side .leftSide__library .library__contents .library__item {
  display: flex;
  color: #fff;
  font-size: 0.8rem;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  border-radius: 90px;
  cursor: pointer;
}
.left-side .leftSide__library .library__contents .library__item img {
  width: 50px;
  border-radius: 50px;
}
.left-side .leftSide__library .library__contents .library__item:hover {
  background-color: #1f1f1f;
  border-radius: 22px;
}

.main {
  display: flex;
  flex-direction: column;
}
.main .main__nav {
  display: flex;
  justify-content: space-between;
}
.main .main__nav .nav__left, .main .main__nav .nav__right {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 5px;
}
.main .main__nav .nav__left svg, .main .main__nav .nav__right svg, .main .main__nav .nav__right img {
  background-color: rgba(31, 31, 31, 0.5411764706);
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main .main__nav .nav__left svg:hover, .main .main__nav .nav__right svg:hover, .main .main__nav .nav__right img:hover {
  background-color: #1f1f1f;
}
.main .main__nav .nav__right svg, .main .main__nav .nav__right img {
  width: 19px;
  height: 19px;
  padding: 5px;
}
.main .main__banner {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */