@import "./base";
@import "./components";

.left-side {
    display: flex;
    flex-direction: column;

    .leftSide__home {
        @include asideFlex();

        .home__icon {
            display: flex;
            gap: 5px;
            align-items: center;
            padding-left: 10px;
            font-size: 0.8rem;
            color: $sub-text;

            i, p {
                display: inline;
                cursor: pointer;
            }

            svg {
                width: 15px;
                cursor: pointer;
            }
        }

        .home__searchIcon {
            @extend .home__icon;
        }
    }

    .leftSide__library {
        @include asideFlex();

        .library__selectors {
            display: flex;
            font-size: 0.8rem;
            color: $sub-text;
            align-items: center;
            justify-content: space-between;

            i, p {
                display: inline;
                cursor: pointer;
            }

            svg {
                width: 15px;
                cursor: pointer;
            }
        }
    }
}