/* Colors */
$red: #ED1E1E;
$white: #fff;
$text: #404040;
$footer-text: #666666;
$bg: #f3f3f3;
$bg-2: #fbfbfb;
$sub-bg: #eeece7;

/* Fonts */
$title: 'Playfair Display', serif;
$title-weight: 700;
$sub-title: 'Barlow Semi Condensed',sans-serif;
