body {
    font-family: 'Courier New', Courier, monospace;
}
/*Block__Element--Modifier */
.header {
    width: 100%;
    display: flex;
    padding: 15px 40px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 140px;
    cursor: pointer;
}

.header__menu {
    display: flex;
    gap: 50px;
}

.header__nav {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
}

.header__link { /*Block__Element */
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__link:hover { /*Block__Element--Modifier */
    color: rgb(36, 73, 175);
}

.header__user {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.header__icon {
    cursor: pointer;
}

#icon__menu {
    display: none;
    transition: all 0.3s ease;
}

.header__icon--secondary {
    opacity: 0.5;
    color: rgb(36, 73, 175);
    transition: all 0.3s ease;
}

.header__icon--secondary:hover {
    opacity: 1;
    color: #000;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 30px auto 0;
    gap: 30px;
}

.products__img {
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.products__img:hover {
    transform: scale(1.05);
}

.products__title {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}

.products__btn {
    display: block;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.products__btn:hover {
    background-color: rgb(36, 73, 175);
}

.products__btn--disabled {
    cursor: not-allowed;
    background-color: #bdbdbd
}

.products__btn--disabled:hover {
    background-color: #bdbdbd
}

svg {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 750px) {
    svg {
        width: 30px;
        height: 30px;
    }

    .header__logo {
        width: 100px; 
    }

    .header__nav {
        display: none;
    }

    .header__user {
        gap: 20px;
    }

    #icon__menu {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    svg {
        width: 25px;
        height: 25px;
    }

    .header__logo {
        width: 70px; 
    }
}