$white: #fff;
$mainColor: #348f22; /*Mejor tener un color solido y luego agregar la transparencia si es necesario*/
$textColor: #3f3f3f;
$bgColor: #333;
$titleWeight: 700;
$fontFamily: 'Lexend', Arial, Helvetica, sans-serif;
