* {
    box-sizing: border-box;
    margin: 0;
}

.page-header {
    display: flex;
    background-color: #ED1E1E;
    gap: 20px;
    padding: 25px;
    /*Sticky header like the original page*/
    position: sticky;
    top: 0;
}

.burger-menu {
    display: none;
}

.page-header img {
    width: 150px;
    margin: 10px;
}

.page-header nav {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 10px 0;
}

.page-header nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.conoce-lo-ultimo {
    font-family: 'Playfair Display', serif;
    color: #404040;
    align-self: center;
    text-align: center;
    grid-column: 1 / 4;
    background-color: #f3f3f3;
}

.conoce-lo-ultimo h1 {
    font-weight: 700;
    font-size: 2.35rem;
    letter-spacing: -0.7px;
    margin: 20px;
    padding: 2%;
}

.conoce-lo-ultimo h3 {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 20px 12%;
}

.subscription-form {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #f3f3f3;
    padding: 2%;
}

.subscription-form img {
    align-self: center;
    max-width: 100%;
    padding: 0 0 0 15%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.subscription-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscription-form div label {
    font-family: 'Playfair Display', serif;
    letter-spacing: -0.5px;
    color: #404040;
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
    padding: 0 4rem;
}

#name, #email {
    width: 55%;
    padding: 10px;
    margin: 10px;
    border: none;
    text-align: center;
    font-family: 'Barlow Semi Condensed',sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    outline: none;
    border: 1px solid #000;
}

#name:focus, #email:focus {
    border: 1px solid #ED1E1E;
}

button {
    font-family: 'Barlow Semi Condensed',sans-serif;
    font-size: 1.2rem;
    color: #404040;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.destacada {
    display: flex;
    grid-column: 3;
    flex-direction: column;
    align-items: center;
    background-color: #eeece7;
    color: #404040;
    gap: 0.5rem;
}

.testimonios {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    align-items: center;
    background-color: #fff;
    color: #404040;
    gap: 0.5rem;
}

.destacada-item, .testimonio {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.testimonio {
    flex-direction: column;
}

.destacada h2, .testimonios h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 2rem;
    letter-spacing: -0.7px;
}

.destacada-item img {
    flex: 0 0 36px;
    min-width: 0.2rem;
}

.testimonio img {
    max-width: 100px;
}

.destacada-item h3, .testimonio h3 {
    font-family: 'Barlow Semi Condensed',sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    flex: 0.1 0 150px;
    min-width: 1rem;
    text-align: center;
}

.testimonio h3 {
    flex: 0 0 25px;
}

.destacada-item p, .testimonio p {
    font-family: 'Playfair Display', serif;
    padding-left: 1rem;
    text-align: left;
    flex: 1 1 100px;
    min-width: 1rem;
}

.testimonio p {
    flex: 1 0 50px;
    text-align: center;
}

.page-footer {
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    color: #666666;
    padding: 20px;
    gap: 3rem;
}

.page-footer img {
    width: 350px;
    margin: 10px;
}

.terms-privacy, .socials {
    font-family: "Playfair Display", serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: left;
    text-align: center;
    gap: 5px;
}

.terms-privacy a, .socials a {
    color: #666666;
    padding: 0 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.socials a img {
    width: 30px;
}

@media screen and (hover : hover) {
    .page-header nav a:hover {
        color: #ffc0c0;
    }
    .subscription-form img:hover {
        transform: scale(1.03);
        filter:  drop-shadow(0 0 0.75rem #ED1E1E);
    }
    button:hover {
        background-color: #ED1E1E;
        color: #fff;
    }
    .terms-privacy a:hover, .socials a:hover {
        color: #242424;
    }
}

@media screen and (max-width: 1428px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .destacada {
        justify-content: center;
    }
    .destacada-item {
        flex-direction: column;
    }
    .destacada-item h3, .destacada-item p {
        flex: unset;
        text-align: center;
    }
    .destacada-item img {
        max-width: 70px;
    }
}

@media screen and (max-width: 1350px) {
    main {
        grid-template-columns: 1fr;
    }
    .destacada, .conoce-lo-ultimo, .subscription-form, .testimonios {
        grid-column: 1;
    }
    .destacada h2, .destacada-item p, .testimonios h2, .testimonio p {
        padding: 0 30px 0 30px;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .page-header nav {
        display: none;
    }
    .burger-menu {
        display: block;
        align-self: center;
        max-width: 2.5rem;
        cursor: pointer;
    }
    .page-header {
        justify-content: space-evenly;
        padding: 5px;
    }
    .page-header img {
        width: 11rem;
    }
    .destacada {
        flex-direction: column;
        text-align: center;
    }
    .destacada-item {
        flex-direction: column;
    }
    .destacada-item h3, .destacada-item p {
        flex: unset;
        text-align: center;
    }
    .destacada-item img {
        max-width: 70px;
    }
    .testimonios h2 {
        text-align: center;
        padding: 2rem 1rem 0 1rem;
    }
    .page-footer img {
        width: 250px;
        margin: 10px;
    }
}

@media screen and (max-width: 465px) {
    .burger-menu {
        max-width: 2rem;
    }
    .page-header img {
        width: 9rem;
    }
    .subscription-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscription-form img {
        padding: 0;
        max-width: 200px;
    }
}