
.page-footer {
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    color: #666666;
    padding: 20px;
    gap: 3rem;
}

.page-footer img {
    width: 350px;
    margin: 10px;
}

.terms-privacy, .socials {
    font-family: "Playfair Display", serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: left;
    text-align: center;
    gap: 5px;
}

.terms-privacy a, .socials a {
    color: #666666;
    padding: 0 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.socials a img {
    width: 30px;
}

@media screen and (hover : hover) {
    .page-header nav a:hover {
        color: #ffc0c0;
    }
    .subscription-form img:hover {
        transform: scale(1.03);
        filter:  drop-shadow(0 0 0.75rem #ED1E1E);
    }
    button:hover {
        background-color: #ED1E1E;
        color: #fff;
    }
    .terms-privacy a:hover, .socials a:hover {
        color: #242424;
    }
}

@media screen and (max-width: 1428px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .destacada {
        justify-content: center;
    }
    .destacada-item {
        flex-direction: column;
    }
    .destacada-item h3, .destacada-item p {
        flex: unset;
        text-align: center;
    }
    .destacada-item img {
        max-width: 70px;
    }
}

@media screen and (max-width: 1350px) {
    main {
        grid-template-columns: 1fr;
    }
    .destacada, .conoce-lo-ultimo, .subscription-form, .testimonios {
        grid-column: 1;
    }
    .destacada h2, .destacada-item p, .testimonios h2, .testimonio p {
        padding: 0 30px 0 30px;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .page-header nav {
        display: none;
    }
    .page-header {
        justify-content: space-evenly;
        padding: 5px;
    }
    .page-header img {
        width: 11rem;
    }
    .destacada {
        flex-direction: column;
        text-align: center;
    }
    .destacada-item {
        flex-direction: column;
    }
    .destacada-item h3, .destacada-item p {
        flex: unset;
        text-align: center;
    }
    .destacada-item img {
        max-width: 70px;
    }
    .testimonios h2 {
        text-align: center;
        padding: 2rem 1rem 0 1rem;
    }
    .page-footer img {
        width: 250px;
        margin: 10px;
    }
}

@media screen and (max-width: 465px) {
    .burger-menu {
        max-width: 2rem;
    }
    .page-header img {
        width: 9rem;
    }
    .subscription-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscription-form img {
        padding: 0;
        max-width: 200px;
    }
}