body {
    margin: 0;
    box-sizing: border-box;
    font-family: '60s Scoreboard', sans-serif;     
    background: url("img/juego-baloncesto-cancha-madera-deportiva_18591-51439.jpg") no-repeat;
    background-size: 100%;
    background-color: #19244d;
}

.container {
    color: #000e3a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container input {
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #ffffff;
    text-shadow: 1px 1px 15px #0a0001;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    outline:none;
    width: 200px;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team1-score,
#team2-score {
    color: #dd0000;
    background-color: #0a0001;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 5rem;
    justify-content: center;
    width: 50%;
}

.highlight {
    border: 3px solid #e63946;
    box-shadow: 0 0 15px #e63946;
    animation: pulse 1s infinite;
}

.unhighlight {
    box-shadow: none;
    border: none;
    animation: none;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 15px #e63946;
    }
    50% {
        box-shadow: 0 0 25px #e63946;
    }
}

.anotation {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.points {
    font-size: 1rem;
    color: #ffffffee;
    background-color: #19244d;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid #ffffffee;
    transition: all 0.4s ease;
    cursor: pointer;
}

.points:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px #0a0001;
}

#reset-button {
    margin: 40px 0;
    text-align: center;
}

#reset-button button,
#start-timer,
#stop-timer,
#reset-timer {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.3rem;
    font-weight: 800;
    color: #ffffffee;
    background-color: #dd0000;
    border: none;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.4s ease;
    cursor: pointer;
    width: 100px;
}

#reset-button button:hover,
#start-timer:hover,
#stop-timer:hover,
#reset-timer:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 15px #0a0001;
}

#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

#timer-el {
    color: #dd0000;
    font-family: '60s Scoreboard', sans-serif;  
    background-color: #0a0001;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    border: none;
    text-align: center;
    font-size: 3.5rem;
    width: 250px;
}

#contact {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 10px 50px;
}

#by-josuedelarosa {
    font-size: 0.7rem;
    font-weight: 800;
    color: #ffffff;
}

@media screen and (max-width: 800px) {
    #reset-button button,
    #start-timer,
    #stop-timer, 
    #reset-timer {
        width: 80px;
        font-size: 0.9rem;
    }

    #by-josuedelarosa {
        font-size: 0.5rem;
    }
}