/* Colors */
$bg-color: #E0ECE4;
$white: #ffff;
$main-txt: #414f46;
$white-txt: #bfcec0;
$h2-white: #ffff;
$bg-btn: #797A7E;
$black-txt: #000000;

/* Fonts */
$txt: "Karla", sans-serif;
$title: "Modak", system-ui;
$h2-title: "Zain", sans-serif;


/* Miscellaneous */
$transition: all 0.3s ease-in-out;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

/**/