/* Colors */
$bg-color: #F0F0D7;
$white: #ffff;
$main-txt: #2c2c2c;
$white-txt: #727D73;
$h2-white: #454a45;
$bg-btn: #AAB99A;

/* Fonts */
$txt: "Karla", sans-serif;
$title: "Modak", system-ui;
$h2-title: "Zain", sans-serif;


/* Miscellaneous */
$transition: all 0.3s ease-in-out;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

/**/