/* Colors */
$bg-color: #407b4c;
$white: #ffff;
$main-txt: #2c2c2c;
$white-txt: #dcdcdc;
$h2-white: #e1e1e1;
$bg-btn: #335298;

/* Fonts */
$txt: "Karla", sans-serif;
$title: "Modak", system-ui;
$h2-title: "Zain", sans-serif;


/* Miscellaneous */
$transition: all 0.3s ease-in-out;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

/**/