/* Colors */
/* Fonts */
/* Miscellaneous */
/**/
header {
  background: linear-gradient(to top, #407b4c, white 55%);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
header h1 {
  font-family: "Modak", system-ui;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
header nav a {
  font-family: "Karla", sans-serif;
  color: #dcdcdc;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
header nav a:hover {
  color: #000000;
}

main #todays-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #407b4c;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex-direction: column;
}
main #todays-selection h2 {
  font-size: 2rem;
  margin: 0;
  font-family: "Zain", sans-serif;
  font-weight: 800;
  color: #e1e1e1;
}
main #todays-selection p {
  font-family: "Karla", sans-serif;
  color: #2c2c2c;
  font-size: 1.3rem;
  margin: 10px 0;
}
main #todays-selection button {
  padding: 10px;
  background-color: #335298;
  color: #dcdcdc;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}
main #todays-selection button:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main #search {
  background-color: #407b4c;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #search h2 {
  font-family: "Zain", sans-serif;
  color: #e1e1e1;
  font-size: 2rem;
  margin: 0;
}
main #search input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #e1e1e1;
  background-color: #407b4c;
  width: 60%;
  box-sizing: border-box;
  margin: 10px 0;
}
main #search input[type=text]:focus {
  outline: none;
  background-color: #50975f;
  border-color: #407b4c;
}
main #search button {
  padding: 10px;
  background-color: #335298;
  color: #dcdcdc;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}
main #search button:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main #now-live {
  background-color: #407b4c;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main #now-live .show-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  background-color: #50975f;
  padding: 10px;
  border-radius: 20px;
  width: 220px;
  height: 350;
}
main #now-live .show-card h2 {
  text-align: center;
  font-family: "Zain", sans-serif;
  color: #e1e1e1;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}
main #now-live .show-card p {
  margin: 5px 0;
  color: #dcdcdc;
}
main #now-live .show-card img {
  max-width: 150px;
}/*# sourceMappingURL=main.css.map */