@import "./mixins";
@import './cards';

header {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

    h1 {
        @include reduceTextSizeTo(2.2rem);
        font-family: $title;
        text-align: center;
        font-size: 3rem;
        font-weight: 100;
        margin: 0;
    }

    nav {
        @include hideOnMaxWidth(460px);
        @include flex-main();
        gap: 15px;

        a {
            font-family: $txt;
            color: $white-txt;
            text-decoration: none;
            transition: $transition;

            &:hover {
                color: #000000;
            }
        }
    }
}

main {
    #todays-selection {
        @include flex-main();
        background-color: $bg-color;
        border-radius: 20px;
        padding: 20px;
        margin: 10px 30px;
        box-shadow: $shadow;
        flex-direction: column;

        h2 {
            font-size: 2rem;
            margin: 0;
            font-family: $h2-title;
            font-weight: 800;
            color: $black-txt;
        }

        p {
            font-family: $txt;
            color: $main-txt;
            font-size: 1.3rem;
            margin: 10px 0;
        }

        button {
            @include button();
            cursor: pointer;
        }
    }

    #search {
        @include flex-main();
        flex-direction: column;

        h2 {
            font-family: $h2-title;
            color: $black-txt;
            font-size: 2rem;
            margin: 0;
        }

        input[type="text"] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            background-color: $bg-color;
            width: 60%;
            box-sizing: border-box;
            margin: 10px 0;

            &:focus {
                outline: none;
                background-color: #D0DDD0;
                border-color: $bg-color;
            }
        }

        button {
            @include button();
            cursor: pointer;
            width: 110px;
            font-size: 1rem;
        }
    }

    #live-txt {
        color: red;
        text-align: center;
        margin: 70px 0 0;
        font-family: $h2-title;
        font-size: 4rem;
        font-weight: 800;
        animation: blink 2s infinite;


        @keyframes blink {
            0% {
                border-color: red;
                filter: blur(0);
            }
            30% {
                border-color: transparent;
                filter: blur(0.5px);
            }
            60% {
                border-color: red;
                filter: blur(0);
            }
        }
    }

    #now-live {
        @include flex-main();
        flex-wrap: wrap;

    }
}