body {
    margin: 0;
    box-sizing: border-box;
    background-color: #1F2937;
    font-family: "Karla", serif;
}

main {
    margin: 15%;
}

#info {
    border-bottom: solid 1px #2F3E53;
    padding-bottom: 20px;
}

#info h1  {
    color: #ECFDF5;
    font-weight: 800;
    font-size: 2.1rem;
    margin: 0;
}

#info h1 span {
    color: #10B981;
}

#info p {
    color: #D5D4D8;
    margin-top: 7px;
}

#user-interaction {
    display: flex;
    margin: 30px 0 5px 0;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

#user-interaction p {
    margin: 0;
}

#user-interaction div {
    display: flex;
    align-items: center;
}

button {
    border: none;
    border-radius: 2px;
    padding: 8px 12px;
    font-family: "Karla", serif;
    color: #ECFDF5;
    background-color: #10B981;
    font-size: 0.95rem;
    font-weight: 700;
    transition: all 0.7s ease;
}

button:hover {
    transform: scale(1.01);
    box-shadow: 0 0 4px #A7F3D0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #10B981;
}

#passwords-section {
    display: none;
}

#show-passwords-section {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.password {
    position: relative;
    border-radius: 2px;
    background-color: #273549;
    text-align: center;
    color: #10B981;
    margin: 10px 0;
    padding: 7px 20px;
    transition: all 0.7s ease;
}

.password:hover {
    background-color: #374151;
}

svg {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #ecfdf575;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; 
}

.password:hover svg {
    opacity: 1;
}

@media screen and (max-width: 550px) {
    #user-interaction {
        gap: 10px;
    }
    #user-interaction div p {
        font-size: 0.8rem;
    }
    #show-passwords-section {
        gap: 15px;
        justify-content: center;
    }

    .password {
        margin: 0;
        width: 135px;
    }
    .password span {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 250px) {
    main {
        margin: 15px;
    }
    .password {
        padding: 4px 10px;
    }

    .password span {
        font-size: 0.7rem;
    }
}