/*Structure
@media media-type and (media-feature-rule) {
   -> CSS rules <--
}
*/

/* media print is used to apply the styles to the printed page */
/* media screen is used to apply the styles to the screen */
/* media all is used to apply the styles to all devices */

/* Example */

section{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e67979;
}

section p{
    font-size: 20px;
    text-align: right;
    line-height: 3;
}

@media screen and (max-width: 900px){
    section{
        width: 100%;
        padding: 0;
        background-color: aqua;
    }

    p{
        font-size: 10px;
        text-align: center;
        line-height: 1;
    }
}